@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body {
	margin: auto;
	background-image: url("kohvikarvuti.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	font-family: Gill Sans MT;
}

header {
	height: 15vw;
	width: 100%;
	background-color: #BE4141;
	position: absolute;
}

img {
	float: left;
	height: 15vw;
}

.pealkiri p {
	font-size: 5vw;
	color: #D8C8B9;
	margin-top: 2vw;
	margin-left: 30vw;
	position: absolute;
}

.vasak {
	position: absolute;
	right: 1%;
	top: 1%;
}

.vasak p {
	position: relative;
	font-size: 1vw;
	color: #401424;
	text-align: right;
	top: 0.7vw;
	right: 0;
}

form.otsing {
	position: relative;
	top: 0.5vw;
	right: 0;
}

form.otsing input[type=text] {
	border: 0.2vw #401424 solid;
	background: #BE4141;
	font-size: 1vw;
	color: #401424;
}

.nav {
	position: absolute;
	bottom: 0;
	left: 15vw;
}

.dropbtn, .dropbtn1, .dropbtn2, .dropbtn3, .dropbtn4 {
  	background-color: #401424;
  	color: #D8C8B9;
  	text-decoration: none;
	font-size: 1.8vw;
	padding: 1vw 4vw;
	border: none;
}

.dropbtn1, .dropbtn2, .dropbtn3, .dropbtn4 {
	margin-left: -5px;
}

.dropdown, .dropdown1, .dropdown2, .dropdown3, .dropdown4 {
  position: relative;
  display: inline-block;
}

.dropdown-content, .dropdown-content1, .dropdown-content2, .dropdown-content3, .dropdown-content4 {
  display: none;
  position: absolute;
	background: rgba(63, 20, 36, 0.7);
	width: 100%;
}

.dropdown-content a, .dropdown-content1 a, .dropdown-content2 a, .dropdown-content3 a, .dropdown-content4 a {
    color: #D8C8B9;
    padding: 1.2vw 1.2vw;
    text-decoration: none;
    display: block;
	font-size: 1.5vw;
	text-align: center;
	line-height: 1.5;
	width: 100%;
}

.dropdown-content a:hover, .dropdown-content1 a:hover, .dropdown-content2 a:hover, .dropdown-content3 a:hover, .dropdown-content4 a:hover {
	background-color: #401424;
	color: #BE4141;
	line-height: 1.5;
}

.dropdown:hover .dropdown-content, .dropdown1:hover .dropdown-content1, .dropdown2:hover .dropdown-content2, .dropdown3:hover .dropdown-content3, .dropdown4:hover .dropdown-content4 {
	display: block;
}

.dropdown:hover .dropbtn, .dropdown1:hover .dropbtn1, .dropdown2:hover .dropbtn2, .dropdown3:hover .dropbtn3, .dropdown4:hover .dropbtn4 {
	background-color: #D88371;
}

.content {
	position: absolute;
	z-index: -2;
	top: 20vw;
	bottom: 10vw;
	left: 15vw;
	right: 15vw;
}

.tellimine, .lol {
	display: flex;
  	justify-content: center;
}

.tellimine a {
	background-color: #D8C8B9;
	border: 0.2vw #401424;
	border-style: solid;
	border-radius: 25px;
  	width: 15vw;
  	height: 4.5vw; 
	padding: 0.2vw 0.5vw;
	text-align: center;
	color: #401424;
	font-size: 2.8vw;
	text-decoration: none;
}


.tellimine a:hover {
	color: #BE4141;
}

.ajad {
	color: #D8C8B9;
	font-size: 1.5vw;
	text-align: center;
	width: 15vw;
  	height: 4.5vw;
	padding: 0.2vw 0.5vw;
}

.toitinfo {
	position: absolute;
	top: 10vw;
	height: 23vw;
	width: 100%;
}

.toit {
	position: relative;
	left: 0;
}

.toit img {
	height: 100%;
	width: 23vw;
	border-radius: 25px;
}

.info {
	position: absolute;
	right: 0%;
	top: -9%;
}

.info p {
	border-radius: 25px;
	height: 23vw;
	width: 23vw;
	background-color: #D88371;
	font-size: 1.4vw;
	line-height: 1.5;
	padding: 1vw 1.5vw;
	text-align: center;
}


.kirjuta {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 5%;
	right: 5%;
	background-color: #BE4141;
	border: 0.2vw #D8C8B9;
	border-style: solid;
	height: 6vw;
	width: 6vw;
	border-radius: 100%;
}

.kirjuta a {
	font-size: 1.3vw;
	color: #D8C8B9;
	padding: 1vw 1vw;
	text-align: center;
	text-decoration: none;
}

.kirjuta a:hover {
	color: #401424;
}



/*tahvelarvuti
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
	body {
	background-image: url("kohviktahvel.png");
}}
*/
	

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
	body {
	background-image: url("kohviklaptop.png");
}}



